@{
    ViewData["Title"] = "Privacy Policy";
    var letter = "@";
}
<h1>@ViewData["Title"]</h1>

<p>Записаны пользователи с паролями = часть email до @letter и их ролями</p>
<ul>
    <li>admin@gmail.com пароль: admin</li>
    <li>employee@gmail.com пароль: employee</li>
    <li>student@gmail.com пароль: student</li>
</ul>
