@{
    ViewData["Title"] = "Privacy Policy";
    var letter = "@";
}
<h1>@ViewData["Title"]</h1>

<p>Information is secured and Passwords should be at least 8 characters long and emails must have the @letter sign </p>
<ul>
    
</ul>
